a:visited {
  color: $link-visited-color;
}

//
// MASTHEAD
//

header {
    grid-area: header;
    padding: $header-padding;
    background-color: $header-bg-color;
    text-align: center;

    @include gradient-vertical(lighten($header-bg-color,8%),$header-bg-color);
    box-shadow: inset 0 0 8px 1px darken($header-bg-color, 8%);
    box-shadow-top: 0;
    
    > h1 {
        color: $header-color;
        font-weight: bold;
        margin: $header-title-margin;
    }
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: $small-screen) {
        flex-direction: $nav-small-direction;
    }
}

// If we don't add the "a" here, on hover styles won't be affected
a.nav-item {
    font-size: $nav-item-size;
    padding: $nav-item-padding;
    color: $nav-color;
    background-color: $nav-bg-color;
    font-weight: bold;
}

a.active {
    background-color: $nav-color;
    color: $nav-bg-color;
}

//
// SIDEBAR
//

#sidebar {
  #navigation {
    margin-top: 20px;
  }
}

#sidebar .nav.nav-stacked {
  li {
    background: $side-column-bg-color;
    margin: 0px;
    &.active {
      a {
        border: 0;
        border-right: 4px solid $side-column-active-bg-color;
        background: $side-column-active-bg-color;
        color: $side-column-active-color;
        &:hover {
          //color: $side_column_text_color;
          background: lighten($side-column-active-bg-color, 40%);
          border-color: lighten($side-column-active-bg-color, 20%);
        }
      }
    }
  }
  li {
    &.level1 a {
      padding-left: 1*$side-column-indent;
    }
    &.level2 a {
      padding-left: 2*$side-column-indent;
    }
    &.level3 a {
      padding-left: 3*$side-column-indent;
    }
    &.level4 a {
      padding-left: 4*$side-column-indent;
    }
  }
  a {
    cursor: pointer;
    border-radius: 0 !important;
    border: 0;
    border-right: 4px solid $side-column-active-bg-color;
    color: $side-column-text-color;
    line-height: 1.2em;
    &:hover {
      background: lighten($side-column-bg-color, 10%);
      border-color: lighten($side-column-active-bg-color, 50%);
      text-decoration: underline;
    }
  }
}

#sidebar ul {
  box-shadow: 2px 4px 4px 0px darken($background-color,40%);
}

//
// BACKGROUND
//

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: -1;
  @include gradient-vertical($background-color-start, $background-color);
}

//
// TYPOGRAPHY
//

#TOC {
  margin-top: 1em;
  margin-bottom: 1em;
  ol {
    list-style-type: none;
    margin: 0px;
    padding-left: 20px;
  }
  li ol {
    margin-left: 0px;
    //padding-left: 20px;
  }
}

.p {
  margin-top: 1em;
  margin-bottom: 1em;
  &:first-child {
    margin-top: 0;
  }
}

.ol {@extend ol}
.li {@extend li}

.h1 {@extend h1}
.h2 {@extend h2}
.h3 {@extend h3}

.bigger {
  font-size: 140%;
  line-height: 140%;
  margin: 20px 0;
}

//
// HOME PAGE
//

.standout {
  a {color: black;}
  span {
    white-space: nowrap;
    margin: 0 15px;
    font-size: 18px;
    @media (max-width: $small-screen) {
      font-size: 13px;
    }
  }
  .fa {
    vertical-align: middle;
  }
  line-height: 48px;
  margin-bottom: 20px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 11px; // same as 'p', not sure what variable this is.
  background-color: $well-bg-color;
  // box-shadow: inset 0px 0px 5px 1px darken($well-bg-color,10%);
  border: 1px solid lighten($well-border-color,50%);
  border-radius: 0px;
  .heading {
    margin-top: -6px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1.1em;
  }
}

//
// BLOGGY STUFF
//

.byline {
  margin-bottom: 1em;
}

.page-summary {
  @include clearfix();
}

article.page-summary {
  h2 {
    margin-bottom: 0px;
  }
  p {
    margin: 0;
  }
  .byline {
    font-weight: bold;
    margin: 0px;
  }
}

.preview-img {
  float:left;
  margin-right: 12px;
  margin-left: 0;
  margin-top: 6px;
  img {
    width: 175px;
    height: auto;
  }
}
.preview-text {
  margin-left: 175px + 12px;
}

img.left {
  float:left;
  margin: 7px 14px 0px 0px;
}

