- @title = "Source Code"
- @summary = "Overview of the main code repositories"

%p This page should give an easy overview of the most important repositories. The authorative code is hosted at #{link '0xacab' => 'https://0xacab.org/leap/'}, but they are also mirrored to #{link 'github' => 'https://github.com/leapcode/'}.

%p In general, the <code>master</code> branch of each repository should be a stable, release version of the software. Some projects merge directly into <code>master</code> (e.g., bitmask-dev), while others will have a <code>develop</code> branch that is used to stage features and bugfixes. Please check whether your project has a <code>develop</code> branch before making a pull request to master.

%h3 Client code

%table.table.table-bordered
  %tr
    %td bitmask-dev
    %td The Bitmask desktop client application, supporting encrypted internet proxy, secure email, and secure chat (coming soon). The client is written in Python, runs on Linux, Mac, and Windows, and is licensed under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/bitmask-dev'
      = link 'https://github.com/leapcode/bitmask_client'
  %tr
    %td bitmask_android
    %td Android version of the Bitmask client, supporting encrypted internet proxy. Future development will include support for secure email. Licensed under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/bitmask_android'
      = link 'https://github.com/leapcode/bitmask_android'

%h3 Service provider platform

%table.table.table-bordered
  %tr
    %td leap_platform
    %td Server automation recipes for running secure communication services via the LEAP Platform. Written mostly using puppet, and licensed under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/leap_platform'
      = link 'https://github.com/leapcode/leap_platform'

  %tr
    %td leap_cli
    %td Command line interface for managing a service provider running the LEAP platform. Written in Ruby and released under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/leap_cli'
      = link 'https://github.com/leapcode/leap_cli'

  %tr
    %td soledad
    %td Soledad (Synchronization of Locally Encrypted Data Among Devices) provides a synchronized, client-encrypted document database. Written in Python.
    %td
      = link 'https://0xacab.org/leap/soledad'
      = link 'https://github.com/leapcode/soledad'

  %tr
    %td nickserver
    %td Nickserver is a daemon supporting nicknym, a protocol to map user nicknames to public keys. Written in Ruby, released under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/nickserver'
      = link 'https://github.com/leapcode/nickserver'


%h3 Web applications and libraries

%table.table.table-bordered
  %tr
    %td leap_web
    %td Web application for the LEAP platform, providing user management, tickets, billing, and REST API.
    %td
      = link 'https://0xacab.org/leap/leap_web'
      = link 'https://github.com/leapcode/leap_web'
  %tr
    %td leap_se
    %td This website
    %td
      = link 'https://0xacab.org/leap/leap_se'
      = link 'https://github.com/leapcode/leap_se'
  %tr
    %td srp_js
    %td Secure Remote Password (SRP) library for Javascript.
    %td
      = link 'https://0xacab.org/leap/srp_js'
      = link 'https://github.com/leapcode/srp_js'
  %tr
    %td ruby_srp
    %td Secure Remote Password (SRP) library for Ruby.
    %td
      = link 'https://0xacab.org/leap/ruby_srp'
      = link 'https://github.com/leapcode/ruby_srp'
