%div{:style => 'max-width:500px; margin: 3em auto 0 auto; text-align: center; font-size: 0.85em'}
  (cc) Attribution, Share-Alike
  &nbsp;
  %a{:rel => "license", :href => "https://creativecommons.org/licenses/by-sa/3.0/"}<
    %img{:alt => "Creative Commons License", :style => "border-width:0; vertical-align: middle", :src => "/img/by-sa-3.0-80x15.png"}
  &nbsp;
  <span>(c) 2012-2020 LEAP Encryption Access Project</span>
